:root {
    --chatbot-color-light: #F3F3F3;
    --chatbot-color-dark: #121111;
}

/* status_display */
#status_display {
    display: flex;
    min-height: 2.5em;
    align-items: flex-end;
    justify-content: flex-end;
}
#status_display p {
    font-size: .85em;
    font-family: monospace;
    color: var(--body-text-color-subdued);
}



/* usage_display */
#usage_display {
    height: 1em;
}
#usage_display p{
    padding: 0 1em;
    font-size: .85em;
    font-family: monospace;
    color: var(--body-text-color-subdued);
}
/* list */
ol:not(.options), ul:not(.options) {
    padding-inline-start: 2em !important;
}

/* Thank @Keldos-Li for fixing it */
/* Light mode (default) */
#chuanhu_chatbot {
    background-color: var(--chatbot-color-light) !important;
    color: #000000 !important;
}
[data-testid = "bot"] {
    background-color: #FFFFFF !important;
}
[data-testid = "user"] {
    background-color: #95EC69 !important;
}

/* Dark mode */
.dark #chuanhu_chatbot {
    background-color: var(--chatbot-color-dark) !important;
    color: #FFFFFF !important;
}
.dark [data-testid = "bot"] {
    background-color: #2C2C2C !important;
}
.dark [data-testid = "user"] {
    background-color: #26B561 !important;
}

#chuanhu_chatbot {
    height: 100%;
    min-height: 400px;
}

[class *= "message"] {
    border-radius: var(--radius-xl) !important;
    border: none;
    padding: var(--spacing-xl) !important;
    font-size: var(--text-md) !important;
    line-height: var(--line-md) !important;
    min-height: calc(var(--text-md)*var(--line-md) + 2*var(--spacing-xl));
    min-width: calc(var(--text-md)*var(--line-md) + 2*var(--spacing-xl));
}
[data-testid = "bot"] {
    max-width: 85%;
    border-bottom-left-radius: 0 !important;
}
[data-testid = "user"] {
    max-width: 85%;
    width: auto !important;
    border-bottom-right-radius: 0 !important;
}
/* Table */
table {
    margin: 1em 0;
    border-collapse: collapse;
    empty-cells: show;
}
td,th {
    border: 1.2px solid var(--border-color-primary) !important;
    padding: 0.2em;
}
thead {
    background-color: rgba(175,184,193,0.2);
}
thead th {
    padding: .5em .2em;
}
/* Inline code */
#chuanhu_chatbot code {
    display: inline;
    white-space: break-spaces;
    border-radius: 6px;
    margin: 0 2px 0 2px;
    padding: .2em .4em .1em .4em;
    background-color: rgba(175,184,193,0.2);
}
/* Code block */
#chuanhu_chatbot pre code {
    display: block;
    overflow: auto;
    white-space: pre;
    background-color: hsla(0, 0%, 0%, 80%)!important;
    border-radius: 10px;
    padding: 1.4em 1.2em 0em 1.4em;
    margin: 1.2em 2em 1.2em 0.5em;
    color: #FFF;
    box-shadow: 6px 6px 16px hsla(0, 0%, 0%, 0.2);
}
/* Hightlight */
#chuanhu_chatbot .highlight { background-color: transparent }
#chuanhu_chatbot .highlight .hll { background-color: #49483e }
#chuanhu_chatbot .highlight .c { color: #75715e } /* Comment */
#chuanhu_chatbot .highlight .err { color: #960050; background-color: #1e0010 } /* Error */
#chuanhu_chatbot .highlight .k { color: #66d9ef } /* Keyword */
#chuanhu_chatbot .highlight .l { color: #ae81ff } /* Literal */
#chuanhu_chatbot .highlight .n { color: #f8f8f2 } /* Name */
#chuanhu_chatbot .highlight .o { color: #f92672 } /* Operator */
#chuanhu_chatbot .highlight .p { color: #f8f8f2 } /* Punctuation */
#chuanhu_chatbot .highlight .ch { color: #75715e } /* Comment.Hashbang */
#chuanhu_chatbot .highlight .cm { color: #75715e } /* Comment.Multiline */
#chuanhu_chatbot .highlight .cp { color: #75715e } /* Comment.Preproc */
#chuanhu_chatbot .highlight .cpf { color: #75715e } /* Comment.PreprocFile */
#chuanhu_chatbot .highlight .c1 { color: #75715e } /* Comment.Single */
#chuanhu_chatbot .highlight .cs { color: #75715e } /* Comment.Special */
#chuanhu_chatbot .highlight .gd { color: #f92672 } /* Generic.Deleted */
#chuanhu_chatbot .highlight .ge { font-style: italic } /* Generic.Emph */
#chuanhu_chatbot .highlight .gi { color: #a6e22e } /* Generic.Inserted */
#chuanhu_chatbot .highlight .gs { font-weight: bold } /* Generic.Strong */
#chuanhu_chatbot .highlight .gu { color: #75715e } /* Generic.Subheading */
#chuanhu_chatbot .highlight .kc { color: #66d9ef } /* Keyword.Constant */
#chuanhu_chatbot .highlight .kd { color: #66d9ef } /* Keyword.Declaration */
#chuanhu_chatbot .highlight .kn { color: #f92672 } /* Keyword.Namespace */
#chuanhu_chatbot .highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
#chuanhu_chatbot .highlight .kr { color: #66d9ef } /* Keyword.Reserved */
#chuanhu_chatbot .highlight .kt { color: #66d9ef } /* Keyword.Type */
#chuanhu_chatbot .highlight .ld { color: #e6db74 } /* Literal.Date */
#chuanhu_chatbot .highlight .m { color: #ae81ff } /* Literal.Number */
#chuanhu_chatbot .highlight .s { color: #e6db74 } /* Literal.String */
#chuanhu_chatbot .highlight .na { color: #a6e22e } /* Name.Attribute */
#chuanhu_chatbot .highlight .nb { color: #f8f8f2 } /* Name.Builtin */
#chuanhu_chatbot .highlight .nc { color: #a6e22e } /* Name.Class */
#chuanhu_chatbot .highlight .no { color: #66d9ef } /* Name.Constant */
#chuanhu_chatbot .highlight .nd { color: #a6e22e } /* Name.Decorator */
#chuanhu_chatbot .highlight .ni { color: #f8f8f2 } /* Name.Entity */
#chuanhu_chatbot .highlight .ne { color: #a6e22e } /* Name.Exception */
#chuanhu_chatbot .highlight .nf { color: #a6e22e } /* Name.Function */
#chuanhu_chatbot .highlight .nl { color: #f8f8f2 } /* Name.Label */
#chuanhu_chatbot .highlight .nn { color: #f8f8f2 } /* Name.Namespace */
#chuanhu_chatbot .highlight .nx { color: #a6e22e } /* Name.Other */
#chuanhu_chatbot .highlight .py { color: #f8f8f2 } /* Name.Property */
#chuanhu_chatbot .highlight .nt { color: #f92672 } /* Name.Tag */
#chuanhu_chatbot .highlight .nv { color: #f8f8f2 } /* Name.Variable */
#chuanhu_chatbot .highlight .ow { color: #f92672 } /* Operator.Word */
#chuanhu_chatbot .highlight .w { color: #f8f8f2 } /* Text.Whitespace */
#chuanhu_chatbot .highlight .mb { color: #ae81ff } /* Literal.Number.Bin */
#chuanhu_chatbot .highlight .mf { color: #ae81ff } /* Literal.Number.Float */
#chuanhu_chatbot .highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
#chuanhu_chatbot .highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
#chuanhu_chatbot .highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
#chuanhu_chatbot .highlight .sa { color: #e6db74 } /* Literal.String.Affix */
#chuanhu_chatbot .highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
#chuanhu_chatbot .highlight .sc { color: #e6db74 } /* Literal.String.Char */
#chuanhu_chatbot .highlight .dl { color: #e6db74 } /* Literal.String.Delimiter */
#chuanhu_chatbot .highlight .sd { color: #e6db74 } /* Literal.String.Doc */
#chuanhu_chatbot .highlight .s2 { color: #e6db74 } /* Literal.String.Double */
#chuanhu_chatbot .highlight .se { color: #ae81ff } /* Literal.String.Escape */
#chuanhu_chatbot .highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
#chuanhu_chatbot .highlight .si { color: #e6db74 } /* Literal.String.Interpol */
#chuanhu_chatbot .highlight .sx { color: #e6db74 } /* Literal.String.Other */
#chuanhu_chatbot .highlight .sr { color: #e6db74 } /* Literal.String.Regex */
#chuanhu_chatbot .highlight .s1 { color: #e6db74 } /* Literal.String.Single */
#chuanhu_chatbot .highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
#chuanhu_chatbot .highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
#chuanhu_chatbot .highlight .fm { color: #a6e22e } /* Name.Function.Magic */
#chuanhu_chatbot .highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
#chuanhu_chatbot .highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
#chuanhu_chatbot .highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
#chuanhu_chatbot .highlight .vm { color: #f8f8f2 } /* Name.Variable.Magic */
#chuanhu_chatbot .highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
