PORT=8000

# model related
MODEL_NAME=qwen
MODEL_PATH=Qwen/Qwen-7B-Chat
EMBEDDING_NAME=moka-ai/m3e-base
ADAPTER_MODEL_PATH=
QUANTIZE=16
CONTEXT_LEN=
LOAD_IN_8BIT=false
LOAD_IN_4BIT=false
USING_PTUNING_V2=false
STREAM_INTERVERL=2
PROMPT_NAME=

# device related
DEVICE=cuda
DEVICE_MAP=
GPUS=
NUM_GPUs=1

# patch related
PATCH_TYPE=
TRAINING_LENGTH=4096
WINDOW_SIZE=512

# api related
API_PREFIX=/v1
