openai
langchain
bitsandbytes
fastapi
uvicorn
tenacity
sentencepiece
tiktoken
loguru
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git
triton
sentence-transformers