openai
langchain
bitsandbytes
fastapi==0.95.1
typing_extensions==4.4.0
python-dotenv==1.0.0
uvicorn
tenacity
sentencepiece
tiktoken
loguru
transformers>=4.33.1
peft>=0.4.0
accelerate>=0.20.3
triton
sentence-transformers
transformers_stream_generator
cpm_kernels
einops
