CHAT_API_BASE = "http://192.168.20.59:7891/v1"  # 聊天接口地址

SQL_CHAT_API_BASE = "http://192.168.0.53:7891/v1"  # sql生成模型接口地址（可选）

TOOL_CHAT_API_BASE = "http://192.168.20.59:7891/v1"  # 调用工具模型接口地址（可选）

EMBEDDING_API_BASE = "http://192.168.0.53:7891/v1"  # 嵌入模型接口地址（可选）

API_KEY = "xxx"  # 默认不需要配置

# EMBEDDING_NAME = "m3e-base"  # 使用本地嵌入模型的路径（可选，EMBEDDING_API_BASE 和 EMBEDDING_NAME 两种方式选一种即可）

SERPAPI_API_KEY = ""  # 搜索功能需要

IPYKERNEL = "llm"  # python解释器名称

INTERPRETER_CHAT_API_BASE = "http://192.168.20.59:7891/v1"  # 代码解释器模型接口地址（可选）
