openai
langchain
python-dotenv==1.0.0
tiktoken
loguru
sentence-transformers
sqlalchemy~=1.4.46
unstructured[all-docs]
spacy
func_timeout
nltk
opencv-python==4.7.0.72
faiss-cpu
pymysql
streamlit
google-search-results
